:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  align-items: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card{
 background-color: #ffffff;
 border : 1px solid #000000;
 border-radius: 7px;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
 padding: 18px;
 margin : 8px;
 max-width: 240px;
 text-align: center;
 display: inline-block;
}

.card .card-Title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color :#000000;
}

.CountItem {
  font-size: 50px;
  text-align: center;

}

.Application {
  text-align: center;
  max-width: 1280px;
  border : 1px solid #000000;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 18px;
  margin : 0 auto;
}

.MainScreen{
  text-align: center;
  max-width: 1280px;
  border : 1px solid #000000;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 18px;
  margin : 0 auto;
  color: #000000;
}

.PlayerCard{
  text-align: center;
  max-width: 1280px;
  border : 1px solid #000000;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 18px;
  margin : 0 auto;
  color: #000000;
}

.PlayerCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.PlayerCard h2{
  margin-top: 0;
  color: #333;
}

.PlayerCard ul {
  list-style-type: none;
  padding: 0;
}


.player-card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #fff;
}

.player-card h2 {
  margin-top: 0;
  color: #333;
}

.player-card ul {
  list-style-type: none;
  padding: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.main-screen {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.player-card li {
  margin-bottom: 4px;
}


.FrontScreen{
  text-align: center;
  max-width: 1280px;
  height: auto ;
  max-height: 1000px;
  border : 1px solid #000000;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 18px;
  margin : 0 auto;
}

.FrontScreen select{
  font-size: 15px;
  margin: 0%;
}

.FrontScreen h1{
  font-size: 20px;
}

.CountItem .counter-button {
  font-size: 15px;
  margin: 5px;
}

.card .cardImage {
  max-width: 70%;
  height: auto;
  border-radius: 60%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
